// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * First-pass mainline device tree for the unbranded R46H handheld.
 *
 * The board is electrically close to the ODROID-GO Super, so reuse the
 * upstream common board description and override only verified R46H wiring.
 */

/dts-v1/;
#include "rk3326-odroid-go.dtsi"

/delete-node/ &btn_f1;
/delete-node/ &btn_f2;
/delete-node/ &btn_f6;
/delete-node/ &gpio_led;
/delete-node/ &pwm_led;
/delete-node/ &vcc_host;

/ {
	model = "GameConsole R46H";
	compatible = "rockchip,rk3326-r46h-linux", "rockchip,rk3326";
	chassis-type = "handset";

	aliases {
		mmc0 = &sdmmc;
		mmc1 = &sdio;
	};

	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <3380000>;
		charge-term-current-microamp = <52000>;
		constant-charge-current-max-microamp = <2000000>;
		constant-charge-voltage-max-microvolt = <4200000>;
		factory-internal-resistance-micro-ohms = <100000>;
		voltage-max-design-microvolt = <4200000>;
		voltage-min-design-microvolt = <3300000>;

		/* Converted from the downstream 4.4 R46H battery table. */
		ocv-capacity-celsius = <20>;
		ocv-capacity-table-0 =
			<4046000 100>, <4001000 95>, <3967000 90>,
			<3940000 85>, <3910000 80>, <3870000 75>,
			<3830000 70>, <3790000 65>, <3750000 60>,
			<3720000 55>, <3690000 50>, <3650000 45>,
			<3610000 40>, <3570000 35>, <3540000 30>,
			<3500000 25>, <3460000 20>, <3420000 15>,
			<3380000 10>, <3340000 5>, <3300000 0>;
	};

	joystick_mux_controller: mux-controller {
		compatible = "gpio-mux";
		pinctrl-names = "default";
		pinctrl-0 = <&mux_en_pins>;
		#mux-control-cells = <0>;

		mux-gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>,
			    <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
	};

	joystick_mux: adc-mux {
		compatible = "io-channel-mux";
		io-channels = <&saradc 1>;
		io-channel-names = "parent";
		#io-channel-cells = <1>;

		mux-controls = <&joystick_mux_controller>;
		channels = "0", "1", "2", "3";
	};

	analog_sticks: adc-joystick {
		compatible = "adc-joystick";
		io-channels = <&joystick_mux 0>,
			      <&joystick_mux 1>,
			      <&joystick_mux 2>,
			      <&joystick_mux 3>;
		poll-interval = <10>;
		#address-cells = <1>;
		#size-cells = <0>;

		/*
		 * The mux feeds the unsigned 10-bit RK3326 SARADC. Hardware sweeps
		 * exceeded the borrowed ODROID-GO Super limits, so advertise the
		 * complete converter domain. X and Y preserve the R46H polarity.
		 */
		axis@0 {
			reg = <0>;
			abs-flat = <10>;
			abs-fuzz = <10>;
			abs-range = <1023 0>;
			linux,code = <ABS_X>;
		};

		axis@1 {
			reg = <1>;
			abs-flat = <10>;
			abs-fuzz = <10>;
			abs-range = <0 1023>;
			linux,code = <ABS_RX>;
		};

		axis@2 {
			reg = <2>;
			abs-flat = <10>;
			abs-fuzz = <10>;
			abs-range = <1023 0>;
			linux,code = <ABS_Y>;
		};

		axis@3 {
			reg = <3>;
			abs-flat = <10>;
			abs-fuzz = <10>;
			abs-range = <0 1023>;
			linux,code = <ABS_RY>;
		};
	};

	gpio-keys-vol {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-0 = <&btn_pins_vol>;
		pinctrl-names = "default";

		button-vol-down {
			gpios = <&gpio2 RK_PA1 GPIO_ACTIVE_LOW>;
			label = "VOLUMEDOWN";
			linux,code = <KEY_VOLUMEDOWN>;
		};

		button-volume-up {
			gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_LOW>;
			label = "VOLUMEUP";
			linux,code = <KEY_VOLUMEUP>;
		};
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&status_led_pin>;

		/*
		 * This two-colour LED is driven by one GPIO. High is red and low
		 * is blue; gpio-leds exposes the red state for initial bring-up.
		 */
		status_led: led-0 {
			color = <LED_COLOR_ID_RED>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};

	rumble: pwm-vibrator {
		compatible = "pwm-vibrator";
		pwm-names = "enable";
		pwms = <&pwm0 0 200000000 0>;
	};

	/* The R46H jack detect signal is active-low on GPIO2_C6. */
	rk817-sound {
		simple-audio-card,hp-det-gpio = <&gpio2 RK_PC6 GPIO_ACTIVE_LOW>;
	};
};

&backlight {
	brightness-levels = <0 160>;
	default-brightness-level = <80>;
	num-interpolated-steps = <159>;
	power-supply = <&vcc_bl>;
	pwms = <&pwm1 0 40000 0>;
};

&builtin_gamepad {
	button-sw11 {
		label = "THUMBR";
	};

	button-sw12 {
		label = "THUMBL";
	};

	button-sw13 {
		label = "F5";
	};

	button-sw19 {
		gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
		label = "SELECT";
		linux,code = <BTN_SELECT>;
	};

	button-sw20 {
		gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
		label = "TOP-RIGHT 2";
		linux,code = <BTN_TR2>;
	};

	button-sw21 {
		gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
		label = "TOP-LEFT 2";
		linux,code = <BTN_TL2>;
	};

	button-sw22 {
		gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
		label = "START";
		linux,code = <BTN_START>;
	};
};

&internal_display {
	compatible = "gameconsole,r46h-panel";
	backlight-supply = <&vcc_bl>;
	power-supply = <&vcc_lcd>;
	reset-gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
	/delete-property/ rotation;
};

&io_domains {
	vccio1-supply = <&vccio_sd>;
};

&pwm0 {
	status = "okay";
};

&pwm3 {
	status = "disabled";
};

&rk817 {
	system-power-controller;
	vcc9-supply = <&usb_midu>;

	regulators {
		vcc_wifi: LDO_REG9 {
			regulator-name = "vcc_wifi";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;

			regulator-state-mem {
				regulator-off-in-suspend;
				regulator-suspend-microvolt = <3300000>;
			};
		};

		otg_switch: OTG_SWITCH {
			regulator-name = "otg_switch";
			regulator-boot-on;
		};
	};
};

&rk817_charger {
	dc-det-gpios = <&gpio0 RK_PB3 GPIO_ACTIVE_HIGH>;
	monitored-battery = <&battery>;
};

&sdio {
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	card-detect-delay = <800>;
	cd-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
	disable-wp;
	no-mmc;
	no-sdio;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&sfc {
	status = "disabled";
};

/* The running 4.4 system enumerates the internal USB hub on this DWC2. */
&u2phy_otg {
	status = "okay";
};

&usb20_otg {
	dr_mode = "host";
	status = "okay";
};

&pinctrl {
	btns {
		btn_pins: btn-pins {
			rockchip,pins =
				<1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
				<1 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		btn_pins_vol: btn-pins-vol {
			rockchip,pins =
				<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	joystick {
		mux_en_pins: mux-pins {
			rockchip,pins =
				<3 RK_PB5 RK_FUNC_GPIO &pcfg_output_low>;
		};
	};

	leds {
		status_led_pin: status-led-pin {
			rockchip,pins =
				<2 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
