polkit.addRule(function(action, subject) {
    var allowed = [
        "org.freedesktop.NetworkManager.network-control",
        "org.freedesktop.NetworkManager.settings.modify.system",
        "org.freedesktop.NetworkManager.wifi.scan"
    ];
    if (subject.user == "ark" && allowed.indexOf(action.id) >= 0)
        return polkit.Result.YES;
});
