menu_driver = "rgui"
video_driver = "sdl2"
video_fullscreen = "true"
video_vsync = "true"
video_scale_integer = "false"
video_smooth = "false"
audio_driver = "alsa"
audio_device = "hw:0,0"
audio_latency = "96"
input_driver = "udev"
input_joypad_driver = "udev"
input_autodetect_enable = "false"
input_player1_joypad_index = "0"
input_player1_a_btn = "1"
input_player1_b_btn = "0"
input_player1_x_btn = "2"
input_player1_y_btn = "3"
input_player1_l_btn = "4"
input_player1_r_btn = "5"
input_player1_l2_btn = "6"
input_player1_r2_btn = "7"
# RetroArch's udev driver numbers the advertised EV_KEY codes in ascending
# order.  On gpio-keys, Select/Start are 8/9 and BTN_DPAD_UP..RIGHT are 10..13.
input_player1_up_btn = "10"
input_player1_down_btn = "11"
input_player1_left_btn = "12"
input_player1_right_btn = "13"
input_player1_select_btn = "8"
input_player1_start_btn = "9"
input_player1_l3_btn = "14"
input_player1_r3_btn = "15"
libretro_directory = "/usr/lib/aarch64-linux-gnu/libretro"
libretro_info_path = "/usr/share/libretro/info"
assets_directory = "/usr/share/libretro/assets"
rgui_browser_directory = "/roms"
playlist_directory = "/home/ark/.local/share/retroarch/playlists"
content_history_path = "/home/ark/.local/share/retroarch/content_history.lpl"
content_favorites_path = "/home/ark/.local/share/retroarch/content_favorites.lpl"
content_music_history_path = "/home/ark/.local/share/retroarch/content_music_history.lpl"
content_video_history_path = "/home/ark/.local/share/retroarch/content_video_history.lpl"
content_image_history_path = "/home/ark/.local/share/retroarch/content_image_history.lpl"
content_favorites_directory = "/home/ark/.local/share/retroarch"
content_history_directory = "/home/ark/.local/share/retroarch"
content_image_history_directory = "/home/ark/.local/share/retroarch"
content_music_history_directory = "/home/ark/.local/share/retroarch"
content_video_directory = "/home/ark/.local/share/retroarch"
savefile_directory = "/home/ark/.local/share/retroarch/saves"
savestate_directory = "/home/ark/.local/share/retroarch/states"
config_save_on_exit = "false"
log_verbosity = "true"
